<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ai.imooc_camera">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!--自定义相机需要声明权限，不然没法使用-->
    <uses-permission android:name="android.permission.CAMERA"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!--指定了intent-filter，必须指定category，否则无法生效
                这时，我们的应用也具有了相机功能-->
            <intent-filter>
                <action android:name="android.media.action.IMAGE_CAPTURE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

        </activity>

        <activity android:name=".CustomCameraActivity"/>

        <activity android:name=".ResultActivity"/>

    </application>

</manifest>